<%= render 'shared/nav' %>

<div class="ui container">

  <h1>Artist Profile</h1>

  <div id="artist-info">
    <h2>Name:&ensp;<%= @artist.name %></h2>
    <h3>Genre:&ensp;<%= @artist.genre %></h3>
  </div>

  <h4>Song List</h4>
  <div class="ui divider"></div>

  <% if @artist.songs.any? %>
    <% @artist.songs.each do |song| %>
      <p>
        Title: <%= song.title %>
      </p>
    <% end %>
  <% else %>
    <p>This artist has no songs to display.</p>
  <% end %>

  <div class="ui divider"></div>

  <%= link_to 'Add Song', new_artist_song_path(@artist), class: 'ui violet basic button' %>

  <%= link_to 'Edit', edit_artist_path, class: 'ui yellow basic button' %>
  <%= link_to 'Delete Artist', artist_path(@artist), method: :delete,
                                                     data: { confirm: 'Are you sure?'},
                                                     class: 'ui red basic button' %>
</div>
