<div class="container">

  <h1><%= @song.id? ? 'Edit' : 'Create' %></h1>

  <%= form_for [@artist, @song] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
    <%= f.label :rank %>
    <%= f.number_field :rank, required: true %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

  <% if @song.id? %>
    <%= link_to 'Cancel', artist_path(@song) %>
  <% else %>
    <%= link_to 'Cancel', artists_path %>
  <% end %>

</div>
