<%= render 'shared/nav' %>

<div class="ui container">

  <h1><%= @billboard.name %>&ensp;

  <%= link_to 'Edit', edit_billboard_path, class: 'ui violet basic button' %>
  <%= link_to 'Delete Billboard', billboard_path(@billboard), method: :delete,
                                                              data: { confirm: 'Are you sure?'},

                                                              class: 'ui red basic button' %></h1>
  <div class="ui divider"></div>

    <h2>Hit Songs&ensp;<%= link_to 'Add Song to Billboard', find_song_path, class: 'ui green button' %></h2>
    <div class="ui divider hidden"></div>

    <div class="ui grid">
      <div class "sixteen wide computer column">
        <div class="ui cards">
          <% @billboard.songs.each do |song| %>
            <div class="card">
              <div class="content">
                <div class="header">
                  Track:
                </div>
                <div class="description">
                  <%= song.title %>
                </div>
              </div>
              <div class="extra content">
                <%= link_to 'Remove from Billboard', remove_song_path(@billboard, song), method: :patch, class: 'ui orange button' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
