<div class="container">

  <h1><%= @billboard.name %></h1>
  <%= link_to 'Back', billboards_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_billboard_path, class: 'btn btn-info' %>
  <%= link_to 'Delete Billboard', billboard_path(@billboard), method: :delete,
                                                              data: { confirm: 'Are you sure?'},
                                                              class: 'btn btn-danger' %>
  <hr>

  <h1>All Songs</h1>
  <% @billboard.songs.each do |song| %>
    <p>
      Title: <%= song.title %> <%= link_to 'REMOVE', remove_song_path(@billboard, song), method: :patch %>
    </p>
  <% end %>

  <%= link_to 'Add Song to Billboard', find_song_path %>

  <hr>

  <%= link_to 'View Artists', artists_path %>

</div>
